<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Step-Form</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="card">
                <div class="col1">                
                    <div class="step-box">
                        <div class="step-1">
                            <div class="circle-active">1</div>
                            <div class="step1-content">
                                <label>STEP 1</label>
                                <p>YOUR INFO</p>
                            </div>
                        </div>
                        <div class="step-1">
                            <div class="circle">2</div>
                            <div class="step1-content">
                                <label>STEP 2</label>
                                <p>SELECT PLAN</p>
                            </div>
                        </div>
                        <div class="step-1">
                            <div class="circle">3</div>
                            <div class="step1-content">
                                <label>STEP 3</label>
                                <p>ADD-ONS</p>
                            </div>
                        </div>
                        <div class="step-1">
                            <div class="circle">4</div>
                            <div class="step1-content">
                                <label>STEP 4</label>
                                <p>SUMMARY</p>
                            </div>
                        </div>
                    </div>
                </div>
                <app-form></app-form>
            </div>
        </div>
    </main>
</body>
<script src="assets/js/script.js"></script>
</html>