/* You can add global styles to this file, and also import other style files */
/* Importation of fonts*/
@font-face {font-family: 'Ubuntu-Bold'; src: url(/src/assets/fonts/Ubuntu-Bold.ttf) ;}
@font-face {font-family: 'Ubuntu-Medium'; src: url(/src/assets/fonts/Ubuntu-Medium.ttf) ;}
@font-face {font-family: 'Ubuntu-Regular'; src: url(/src/assets/fonts/Ubuntu-Regular.ttf) ;}

